{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block content %}

<h2 class="">Modifier le mot de passe pour (<span class='text-dark fst-italic'><b> {{app.user.email}} </b></span>)</h2>
{#
   --- Affichage de l'utilisateur connecter ---
#}
<hr>
<a href="{{path('account')}}">- Retourner sur mon compte</a> <br>
<hr>

{% if notification %}
<div class='alert alert-info'>{{notification}}</div>
{% endif %}
{{form(form)}}
<hr> 

{% endblock %}
