{% extends 'base.html.twig' %}

{% block title %}Error-404{% endblock %}

{% block content %}
{# Modifier css #}
<div class='block-small shadow p-4'>
    <h1>404 - Page introuvable</h1>
    <p>Oupps ! Il semblerait que vous êtes egarée</p>
    <hr>
    <a href="/">Retourner sur le site ?</a>
</div>
{% endblock %}
